/**This is used to style the cv**/

body{
	
	padding-left:150px;
	width: 75%;
	display: block;
	border: thin;
}

h2{
	
	text-align: center;
	font-family: sans-serif;
}

#myName{
	
	text-align: center; }

	
#cvImage{
	
	height: 150px;
	width: 150px;
	margin-left: 41%;
	margin-right: 50%;
	border-style: solid ;
}