


/* -------------------------------------Navigation bar starts------------------------------------------------------------------- */

/* Add a black background colour to the navigation  bar*/
.topnav {
	
    background-color: #ff8080;
    overflow: hidden;
    height:50px;
}

/* Style the links inside the navigation bar */
.topnav a {
	
	height:25px;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

/* Change the colour of links on hover */
.topnav a:hover {
	
    background-color: #661400;
    color: #595959;
}

/* Add a colour to the active/current link */
.topnav a.active {
    background-color: #ff0080;
    color: white;
}


/* -------------------------------------Banner image starts------------------------------------------------------------------- */

.bannerImageDiv {
	
	height: 510px;
  	position: relative;
    text-align: center;
 
}

#bannerImage {
	
	height: 500px;
	width:1000px;
  	background: url(image1.jpg) no-repeat center center fixed; 
  	opacity:0.5;
}


.homepageMessage{
	
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 50px;
    color: #ff0080;
    text-shadow: 1px 1px 2px black, 0 0 25px grey, 0 0 5px darkblue;
}
