

/*########################## Home page starts##############*/
body {
	background-color: #dbdad9;
	
}

/*This is the main grid of the web pages*/
.grid {
	
	display: grid;
	grid-template-columns:1fr 500px 500px 1fr;
	
	grid-template-rows: 
	1fr 
	500px 
	1fr;
	
	grid-template-areas:
	". navigationBar  navigationBar . "
	". content content ."
	". footer  footer .";
	
	margin-top: 50px;
	grid-gap:5px;
	
}

/*This is the div that holds the navigation bar*/
.navigationBar{
	
	background-color: green;
	grid-area:navigationBar;
	
}

/*This is the area where all the main content of the page go*/
.content{
	
	background-color: #ff8080;
	grid-area:content;
	display: grid;
	
	grid-template-columns: 1fr 1fr;
	
	grid-template-rows:
	1fr
	1fr ;
	
	grid-template-areas:
	"leftContent rightContent"
	"leftContent rightContent";
	
	grid-gap:5px;
	
	
}

/*This is the left side of the main content area*/
.leftContent{
	
	grid-area:leftContent;
	background-color: #ff8080;
	margin: 15px;
	margin-right: 5px;


}

/*This is the right side of the main content area*/
.rightContent{
	
	grid-area:rightContent;
	background-color: #60789e;
	margin: 15px;
	
   
	
}

.feedbackRightContent{
	
	grid-area:rightContent;
	background-color: #ff8080;
	margin: 15px;
	border-right-style: solid;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-radius: 5px;
    
   
    
    border-color: #ff0080;
    border-width: 5px;
	
}

/*This is the footer div */
.footer{
	
	background-color: yellow;
	grid-area:footer;
}


/*########################## Navigation starts##############*/

/* Add a black background colour to the top navigation */
.topnav {
	
    background-color: #ff8080;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

/* Change the colour of links on hover */
.topnav a:hover {
    background-color: #661400;
    color: #595959;
}

/* Add a colour to the active/current link */
.topnav a.active {
    background-color: #ff0080;
    color: white;
}

/*########################## Navigation ends##############*/


/*########################## Form starts ##############*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], select, textarea{
   
    box-sizing: border-box; 
    margin-top: 6px;
    width: 100%; 
    padding: 5px; 
    border: 1px solid #ccc; 
    margin-bottom: 12px; 
    resize: none; 
    border-radius: 4px; 
  
    
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
	
    background-color: #ff0080;
    color: white;
    cursor: pointer;
    padding-right: 50px;
    margin-left: 153px;
    padding: 12px 20px;
    border: none;
    background-color: #ff0080;
    color: white;
    cursor: pointer;
    padding-left: 50px;
    border-radius: 4px;
    cursor: pointer;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 95px;
}

/* The form */
.container
 {
    border-radius: 5px;
    background-color: #ff8080;
    padding: 5px;
    padding-bottom: 35px;
    height: 400px;
    padding-bottom: 35px;
    height: 400px;
    
    border-right-style: solid;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    
    border-color: #ff0080;
    border-width: 5px;
}

/* Add hover effect to the submit button */
input[type=submit]:hover {
    background-color: #661400;
}



/*########################## Form ends ##############*/