@charset "utf-8";
/* CSS Document */

body{
	
	
	background-color: white;
}

.wrapper {
  display: grid;
	  grid-rows: 1;
	  grid-columns: 1;
	grid-row-gap: 1px;
	grid-column-gap: 2px;
	justify-content: center;


}

.g {
	background-color: #444;
	color: #fff;
	border-radius: 20px;
	padding: 20px;
	font-family: Times New Roman, Verdana, Arial, Tahoma, Helvetica, serif, and Calibri;
	font-size: 18px;
}
	
.parag {
	text-indent: 3%;
}	

h3{
	text-decoration: underline;
	padding-top: 25px;
}	


/* parent css overrides .. */
.or{
	margin-top: 5px;
}

#widthOr {
	width: 100%;
	max-width:1000px;
}

