body{
background-color: white;

} 

.wrapper {
  display: grid;
	grid-template-areas:
      "thumbs1 big desc"
	  "thumbs1 big opt";
	  grid-template-columns: 20% 40% 40%;
      grid-template-rows: 65% 35%;
	grid-row-gap: 1px;
	grid-column-gap: 2px;
	justify-content: center;


}

.g {
	background-color: #394053;
	color: #fff;
	border-radius: 20px;
    padding: 20px 5px;
	
    }

.thumbs1 {

	grid-area: thumbs1;
	
 
}

.big {
	grid-area: big;
	display: flex;            
  align-items: center;      
  justify-content: center;
 

}

.desc {
	grid-area: desc;
  display: flex;            
  align-items: center;      
  justify-content: center;  
    min-height: 150px;
	font-size: 18px;
	text-align: justify;
	
}

.options{
	grid-area: opt;
	
	display: flex;            
  align-items: center;      
  justify-content: center;
  
}

#list1, #list2{
	margin-top: 20px;
	max-width: 200px;
	width: 100%;
}


.g img {
		min-width: 45px;
	min-height: 85px;
	height: 10%;
	width: 40%;
	
}

#enl img {
	
	height: 75%;
	width: 85%;

}

#text {
	font-family: Verdana, Arial, monospace, "Sans-serif" ; 
	font-size: 18px;
}




