/**stylesheet for the feedback page**/


/* -------------------------------------Grid div and content div------------------------------------------------------------ */
/*This is the main grid of the web pages*/
.grid {
	
	width: 1000px;
	margin-right: auto;
	margin-left: auto; 
	width: 1000px;
	margin-top:25px; 
	background-color: azure;
	
}

/*This is the area where all the main content of the page go*/
.content{
	
	background-color: #000000;
	grid-area:content;
	display: grid;
	
	grid-template-columns: 1fr 1fr;
	
	grid-template-rows:
	1fr
	1fr ;
	
	grid-template-areas:
	"leftContent"
	"leftContent";
	
	grid-gap:5px;
	height:490px;
	
}


/* ---------------------------------------------------Form----------------------------------------------------------------- */

.formContent{
	

	background-color: #394053;
	margin: 15px;
	margin-right: 5px;
	width: 972px;

	
}

/* The form */
.container{
	
    border-radius: 5px;
    
    padding: 5px;
    padding-bottom: 35px;
    height: 200px;
    
    border-right-style: solid;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
   
    border-color: #839073; /* border color for form field , choose color from top of style.css or choose whatever looks best for you! */
    border-width: 5px;
    width: 950px;
	

}

/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], select, textarea{
   
    box-sizing: border-box; 
    margin-top: 6px;
    width: 100%; 
    padding: 5px; 
    border: 1px solid #ccc; 
    margin-bottom: 12px; 
    resize: none; 
    border-radius: 4px; 
  
    
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
	
    background-color: #ff0080;
    color: white;
    cursor: pointer;
    padding-right: 50px;
    margin-left: 400px;
    padding: 12px 20px;
    border: none;
  
    border-radius: 4px;
  
   
   
}



/* Add hover effect to the submit button */
input[type=submit]:hover {
    background-color: #661400;
}


/*This is the div that holds the navigation bar*/



/* ---------------------------------------------------Form ends------------------------------------------------------------- */

#total{
	
	margin-left:400px;
	border-width: thick;
	
}

#totalPrice{
	
	color: aqua;
}


footer{
	
	margin-top: 50px;
}



